@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Aeonik-Medium';
  src: url('../public/fonts/Aeonik-Medium.woff2');
  font-weight: 600;
  font-style: normal;
}

:root {
  font-size: clamp(0.3rem, 0.825vw + 0.2rem, 2rem);
}

.font-aeonik {
  font-family: 'Aeonik-Medium', sans-serif;
}
